.calc{
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 2% 1.4%;
border: 2px solid rgba(32, 32, 217, 0.744);
border-radius: 3%;
margin-top: 8em;
margin-left: 42%;
width: 15%;

}
.visor-calc{
    width: 10%;
    padding: 9% 0% 9% 9.6%;
    align-items: center;
    justify-content: center;
}
.visor-calc #idVisor{    
    margin-left: 16%;
    
}
.btn-calc{
display: flex;
flex-wrap: wrap;
flex-wrap: 1;
padding: 0, 5%;
justify-content: center;

}
.btn-calc button{
    flex-grow: 1;
    margin: 2% 0;
}

.oper-calc{
    display: flex;
    flex-wrap: wrap;
    }
.oper-calc button{
    flex-grow: 1;
    margin: 2% 0;
}

.result-calc{
    display: flex;
    flex-wrap: wrap;
    }
.result-calc button{
    flex-grow: 1;
    margin: 2% 0;
}