
/*=======================================*/
@import url('./cabecalho.css');
/*=======================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;/*acada 10px vira um rem*/
}



.tit-sec{
    text-align: center;
    font-size: 5rem;
    margin: 5% 0;
}
/*Exemplo de como funciona o rem e em na font
.conteudo{
    font-size: 2rem;
}
.conteudo > div{
    font-size: 5rem;
}*/

/*vw= view width
  vh= view heith*/
  /*v é view port de view widht 
acada vw equivale a 1% da tela e o msm vale para a vh q e altura*/
.conteudo{
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw;
    margin: 0 auto ;
}
.conteudo img{
    max-width: 100%;
    display: block;
}
/*Utilizando as propiedades especificas
GROW/BASIS/SHRINK*/
.conteudo > div{
    /*flex-grow: 1;
    flex-shrink: 1;taxa de encolimento
    flex-basis: 300px;*/
    flex: 1 1 300px;
}
